body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.slider {
  appearance: none;
  background: white;
  height: 1px;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  height: 15px;
  width: 7px;
  background: black;
  border: 1px solid white;
  border-radius: 0;
}