name: Build & deploy

on:
  push:
    branches: [master]
    tags: ["**"]
  workflow_dispatch:


jobs:
  build:
    name: Build server
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    
    - name: Publish
      run: |
        cd UwuRadio.Server
        dotnet publish -r linux-arm64 --self-contained -c Release
        
        mkdir ../dist
        cp bin/Release/net*/*/publish/UwuRadio.Server ../dist
        cp bin/Release/net*/*/publish/appsettings.json ../dist
        
        cp constants.json ../dist

    - uses: actions/upload-artifact@v3
      with:
        name: linux-arm64-build
        path: dist

  deploy:
    name: Deploy server
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    
    steps:
      - uses: actions/checkout@v2
        
      - uses: actions/download-artifact@v3
        with:
          name: linux-arm64-build
          path: dotnet-dist
      
      - name: Prepare dist directory
        run: |
          mkdir dist
          cp -r ingest dist/ingest
          
          cp dotnet-dist/* dist
          
          wget "https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp_linux_aarch64"
          
          mv yt-dlp_linux_aarch64 dist/yt-dlp
        
      - name: Stop running instance on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSHHOST }}
          username: ${{ secrets.SSHUSER }}
          key: ${{ secrets.SSHPRIVKEY }}
          script: killall UwuRadio.Server -w || true

      - name: SCP dist to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSHHOST }}
          username: ${{ secrets.SSHUSER }}
          key: ${{ secrets.SSHPRIVKEY }}
          rm: true
          source: "dist/*"
          target: "~/UWU_RADIO_SERVER"


      - name: Start instance on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSHHOST }}
          username: ${{ secrets.SSHUSER }}
          key: ${{ secrets.SSHPRIVKEY }}
          script: |
            mkdir ~/UWU_RADIO_LOGS || true
            
            cd ~/UWU_RADIO_SERVER
            mv dist/* .
            rmdir dist
            chmod +x UwuRadio.Server
            chmod +x yt-dlp
            
            LOGROOT="../UWU_RADIO_LOGS/LOG_$(date +'%Y-%m-%dT%H:%M:%SZ')"
            LOGFILE=$LOGROOT.txt
            LOGERR=$LOGROOT.err.txt
            
            nohup ./UwuRadio.Server > $LOGFILE 2> $LOGERR < /dev/null &